<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Get Data</title>
</head>
<body>
    <div class="brd">
        <form action="~/Home/GetDataFromViewField" method="post">
            <label>Фамилия</label>
            <input type="text" name="lastName" value="..." />

            <label>Имя</label>
            <input type="text" name="firstName" value="..." />

            <label>Отчество</label>
            <input type="text" name="middleName" value="..." />

            <br>
            <br />
            <label>Телефон </label>
            <input type="number" name="telephonNumber" value="0" />

            <label> Почта</label>
            <input type="text" name="email" value="...@@....ru" />

            <br>
            <label> Примечание </label>
            <input type="text" name="submit" value="..." /> <br/>

            <p><input type="submit" value="Создать" /></p>
        </form>
    </div>
    <hr />
</body>
</html>