@model HomeWork_21.Models.PhoneBook
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <h1> Добропожаловать на в телефонный справочник</h1>
</p>


<p>
    <a asp-action="ViewAll">Открыть телефонный справочник </a>
</p>


</body>
</html>
